body {
  font-family: Arial,sans-serif;
  background-color: lightblue;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square inside;
}

ol {
  list-style: circle inside;
}

header img {
  width: 100px;
}

header ul li a {
  color: inherit;
  text-decoration:  none;
}

#reviews h4 {
  font-weight: bold;
  color: red;
}
#reviews p {
  font-family: fantasy; 
}


