.main-tabs-auto {

  display: flex;
  justify-content: space-around;
}

.auto-main {
  width: 200px;
  height: 200px;
  font-family: 'Righteous', cursive;
}



.autocomplete {
  height: 185px;
  background-color: violet;
  border-radius: 10px;
  /* margin: 3px 0 0 0; */
  padding: 10px 20px 25px 2px;
  border: 2px solid black;
  color: white;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.autocomplete input {
  margin: 0 10px 10px 30px;
}
.names li{
  list-style: square;
  margin: 0 0 0 70px;
  /* margin: auto; */
}
